* {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: "IBM Plex Sans Arabic";
}
:root {
  --font-color: #080b1a;
  --main-color: #ebf2f7;
  --linear-color: linear-gradient(
    262deg,
    rgba(68, 93, 221, 0.4) 0%,
    rgba(157.98, 172.62, 233.54, 0.82) 27%,
    rgba(208.14, 217, 240.53, 0.94) 62%,
    #e9eff4 100%
  );
  --linear-color1: linear-gradient(
    90deg,
    #d5f5d5 0%,
    #ffffff 62%,
    #e9eff4 100%
  );
  --linear-color2: linear-gradient(
    90deg,
    #f6e4c2 0%,
    #ffffff 62%,
    #e9eff4 100%
  );
  --linear-color3: linear-gradient(
    90deg,
    #e9c9c9 0%,
    #ffffff 62%,
    #e9eff4 100%
  );
  /* new color gradient */
  --white-glass: linear-gradient(
    258deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  --background-grad: linear-gradient(105deg, #aec2d2 0%, #f8fcff 100%);
  --Danger-color: #f16673;
  --submit-color:#331a9c;
}
body {
  background: linear-gradient(105deg, #aec2d2 0%, #f8fcff 100%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row > div {
  direction: rtl;
}

.submit-btn {
  width: 30%;
  background-color: var(--submit-color); 
  color: white
}
.submit-btn:hover{
    background-color: white;
    color: black;
    border-color:var(--submit-color);
}
.profile-card {
  box-shadow: -4px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  border: none;
  padding: 3rem;
  width: 50%;
}

.input-field {
  border: none;
  border-bottom: 2px solid rgba(109, 109, 112, 0.6);
  color: rgba(109, 109, 112, 0.6);
  padding: 10px;
  outline: none;
  margin-bottom: 20px;
}
.input-field:hover {
  border: none;
  color: #080b1a;
  border-bottom: 2px solid #080b1a;
}

.profile {
  margin-top: 3%;
}

.form-control {
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
}
@media (max-width: 768px) {

  .profile {
    align-items: center;
    /* margin-top: 0; */
  }
}
@media (max-width: 425px) {

  .profile-card {
    width: 75%;
  }
  .submit-btn {
    width: 100%;
  }
}
