* {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: "IBM Plex Sans Arabic";
}
:root {
  --font-color: #080b1a;
  --main-color: #ebf2f7;
  --linear-color: linear-gradient(
    262deg,
    rgba(68, 93, 221, 0.4) 0%,
    rgba(157.98, 172.62, 233.54, 0.82) 27%,
    rgba(208.14, 217, 240.53, 0.94) 62%,
    #e9eff4 100%
  );
  --linear-color1: linear-gradient(
    90deg,
    #d5f5d5 0%,
    #ffffff 62%,
    #e9eff4 100%
  );
  --linear-color2: linear-gradient(
    90deg,
    #f6e4c2 0%,
    #ffffff 62%,
    #e9eff4 100%
  );
  --linear-color3: linear-gradient(
    90deg,
    #e9c9c9 0%,
    #ffffff 62%,
    #e9eff4 100%
  );
  /* new color gradient */
  --white-glass: linear-gradient(
    258deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  --background-grad: linear-gradient(105deg, #aec2d2 0%, #f8fcff 100%);
  --Danger-color: #f16673;
}
body {
  background-image: url("/images/BG.png");
  background-size: cover;
  /* background-size: 100% 100%; */
  background-position: center;

  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nav-link {
  font-size: 1.2rem;
  color: var(--font-color);
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.nav-item {
  border: 2px solid var(--main-color);
  border-radius: 8px;
  background-color: var(--main-color);
  margin-bottom: 5px;
}
#sidebar {
  height: 100vh;
  direction: rtl;
  background-color: transparent;
}
#sidebar img {
  margin-bottom: 20px;
}
.row > div {
  direction: rtl;
}
/* main {
  padding-top: 20px;
} */

#sidebar .nav-item:hover {
  background: var(--linear-color);
  color: var(--font-color);
}
.profile-card {
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 0%
  ); */
  box-shadow: -4px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  border: none;
  padding: 20px;
}

.input-field {
  border: none;
  border-bottom: 2px solid rgba(109, 109, 112, 0.6);
  color: rgba(109, 109, 112, 0.6);
  padding: 10px;
  outline: none;
  margin-bottom: 20px;
}
.input-field:hover {
  border: none;
  color: #080b1a;
  border-bottom: 2px solid #080b1a;
}
#mobile-nav {
  background: var(--background-grad);
  border: none;
}
.dropdown-menu {
  position: absolute;
  width: 100%;
  background: var(--background-grad);
  border: none;
  direction: rtl;
}
.dropdown-menu .dropdown-item {
  text-align: justify;
  border-radius: 8px;
}
/* .dropdown-menu + * {
  margin-bottom: 20%;
} */
.dropdown-menu .dropdown-item:hover {
  background: var(--linear-color);
  color: var(--font-color);
  border-radius: 8px;
}
.bike {
  /* box-shadow: 104px 104px 104px; */
  border-radius: 16px;
}
.profile {
  margin-top: 5%;
}
@media (max-width: 768px) {
  #main-content {
    width: 100%;
    /* height: 100vh; */
  }
  .profile {
    align-items: center;
    /* margin-top: 0; */
  }
  .profile-card {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .mobile-nav + * {
    margin-top: 30%;
  }
}
